@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=DM+Sans&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sevillana', cursive;
}

.hero{
    position: relative;
    width:  100%;
    background:#ffffff;
    height: 100vh;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    /*font-weight: bold;*/

}

nav ul li a:hover{
    background-color:  rgba(255,220,186,255);
    
}
.underline-hover-effect{
    display:inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.underline-hover-effect::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width:0;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before{
    width:100%;
}

.logo{
    width: 30%;
    height: 20%;
}
