@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=DM+Sans&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DM Sans', sans-serif;
}

.hero{
    position: relative;
    width:  100%;
    background:#ffffff;
    height: 100vh;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    /*font-weight: bold;*/

}

nav ul li a:hover{
    background-color:  rgba(255,220,186,255);
    
}
.underline-hover-effect{
    display:inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.underline-hover-effect::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width:0;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before{
    width:100%;
}

.logo{
    width: 30%;
    height: 20%;
}
.Name-desc{
    margin-left:10%;
    margin-top: 11%;    
}

.Name-desc h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 35%;
    right:150px;
}
.blob{
    width: 130%;
    height: 160%;
}
.alisha{
    width: 60%;
    height: 90%;
    position: absolute;
    left:60%;
    top:45%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

/*.image img alisha{
    height: 100%;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}*/


